.formContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', 'Helvetica', sans-serif; /* Define a fonte para todo o contêiner */
}

.formTitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.formDescription {
  font-size: 0.875rem;
  color: #888;
  margin-bottom: 1.5rem;
  text-align: left;
}

.formGroup {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Duas colunas: uma para o rótulo e outra para a entrada */
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center; /* Alinhar os itens verticalmente ao centro */
}

.formLabel {
  text-align: left;
}

.formInput {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.formButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.formButton {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  font-family: inherit; /* Herdar a fonte do contêiner */
}

.formButton:hover {
  background-color: #218838;
}